name: Vuepress Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 14.x
      uses: actions/setup-node@v4.1.0
      with:
        node-version: 14.x
    - run: npm install
    - run: npm run docs:build